<nav class="navbar navbar-expand-lg navbar-main">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrimary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="hamburger" fill="var(--button-color)" viewBox="0 0 100 100" width="30">
                <rect class="line top" width="80" height="10" x="10" y="25" rx="5"></rect>
                <rect class="line middle" width="80" height="10" x="10" y="45" rx="5"></rect>
                <rect class="line bottom" width="80" height="10" x="10" y="65" rx="5"></rect>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarPrimary">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Galerie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vidéos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar-placeholder"></div>