/** Gallery Action **/
.gallery-action {
    padding: 1rem;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: .5rem;
    margin-bottom: 5rem;
}
/** Images **/
.image_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .625rem;
}
.image_item {
    position: relative;
}
.image_item i {
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 14px;
    color: #0b5ed7;
    font-size: 22px;
}
.image_row {
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
}
.image_wrapper .image_item .image_label {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default_img {
    width: 70%;
    height: 200px;
    object-fit: cover;
}
.image_wrapper input[type="file"] {
    display: none;
}

/** Bibliothèque Pagination **/
.pagination {
    display: flex;
    justify-content: center;
}
/** Collection Picture **/
.gallery_collection-item.load img {
    opacity: .5;
}
.gallery_collection-item > i {
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 14px;
    color: #0b5ed7;
    font-size: 22px;
    cursor: pointer;
}
.gallery_collection-item > i.disabled {
    cursor: auto;
    opacity: .5;
}
.gallery_collection-item .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery_collection-item .spinner > i {
    position: relative;
    z-index: 10;
    font-size: 3rem;
    color: #0b5ed7;
    opacity: 0;
}
.gallery_collection-item.load > span > i {
    opacity: 1;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/** Bibliothèque **/
#gallery_collection {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
}
.form-check, .gallery_collection-item {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: 8px;
    position: relative;
    padding: 0;
    margin: 0;
    display: none;
}
.form-check {
    cursor: pointer;
}
input[type="checkbox"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border: none;
    display: block;
    cursor: pointer;
    box-shadow: none;
}
input[type="checkbox"]:checked, input[type="checkbox"]:focus {
    box-shadow: none;
    border: none;
    background-color: #FFFFFF;
}
input[type="checkbox"]:active {
    filter: none;
}
input[type="checkbox"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 400;
    content: "\f111";
    font-size: 18px;
    color: #478bfb;
    right: 16px;
    top: 5px;
}
input[type="checkbox"]:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #478bfb;
}
.form-check img, .gallery_collection-item img {
    width: 70%;
    height: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
}
.form-check img {
    cursor: pointer;
}
/** Alert **/
.alert-message {
    display: none;
    opacity: 0;
    height: 0;
    transition: opacity .3s ease, height .3s ease, padding .3s ease;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
}
.alert-message.in {
    display: block;
}
.alert-message.show {
    opacity: 1;
    height: 58px;
    padding: 1rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    #gallery_collection {
        grid-template-columns: repeat(3, 1fr);
        gap: .625rem;
    }
}
@media (min-width: 992px) {
    #gallery_collection {
        grid-template-columns: repeat(4, 1fr);
        gap: .625rem;
    }
    .form-check, .gallery_collection-item {
        height: 300px;
    }
    .form-check img, .gallery_collection-item img {
        height: 200px;
    }
    input[type="checkbox"]:after {
        font-size: 22px;
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}