/** Global **/
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar a {
    text-decoration: none;
    color: #FFFFFF;
}
.sidebar i {
    color: #fff;
}

/** Container spacing **/
.container {
    transition: padding-left .5s ease;
}
.sidebar.close ~ .container {
    padding-left: 78px;
}
.sidebar ~ .container {
    padding-left: 260px;
}

/** SideBar **/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: width 0.5s ease;
}
.sidebar.close {
    width: 78px;
}

/** NAV LINS **/
.sidebar .nav_links {
    padding-top: 30px;
}

/** NAV TOGGLE **/
.sidebar .nav_toggle {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: end;
}
.sidebar .nav_toggle i {
    font-size: 22px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    transition: min-width .5s ease;
}
.sidebar.close .nav_toggle i {
    transform: rotate(0deg);
}
.sidebar .nav_toggle i {
    transform: rotate(180deg);
}

/** ICON **/
.sidebar.close .icon-link {
    display: block;
}
.sidebar .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav_links .nav_link {
    position: relative;
}
.sidebar .nav_links .nav_link a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar a i {
    height: 50px;
    line-height: 50px;
    min-width: 78px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

/** LINK NAME **/
.sidebar ul.nav_links li.nav_link a span.link_name {
    opacity: 1;
    pointer-events: auto;
    font-size: 18px;
}
.sidebar.close .nav_links .nav_link a span.link_name {
    opacity: 0;
    pointer-events: none;
}
.sidebar.close .sub-menu .link_name{
    color: #fff;
    opacity: 1;
    font-size: 18px;
}
.sidebar ul.nav_links li.nav_link .icon-link> a:focus-visible {
    background-color: #1d1b31;
    outline-offset: 0;
    outline: none;
}
/** ARROW **/
.sidebar.close .icon-link > i {
    display: none
}
.sidebar .icon-link > i {
    display: block;
    padding: 0 15px;
    transition: transform .3s ease;
}
.sidebar .nav_link.open .icon-link > i {
    transform: rotate(180deg);
}

/** SUB-MENU **/
.sidebar.close .sub-menu {
    display: block;
    position: absolute;
    top: -10px;
    left: 100%;
    border-radius: 0 6px 6px 0;
    padding: 10px 20px;
    opacity: 0;
    pointer-events: none;
    transition: top .3s ease;
    max-height: fit-content;
}

.sidebar .sub-menu {
    transition: max-height .3s;
    opacity: 1;
    background-color: #1d1b31;
    padding-left: 30px;
    overflow: hidden;
    max-height: 0;
}
.sidebar.close .sub-menu a{
    font-size: 15px;
    opacity: .6;
    padding-bottom: 10px;
}
.sidebar .sub-menu li a {
    opacity: .6;
    white-space: nowrap;
    padding: 5px 0;
}
.sidebar .sub-menu li a:focus-visible {
    opacity: 1;
    outline: none;
}
.sidebar.close .sub-menu li:last-child a {
    padding-bottom: 10px;
}
.sidebar .sub-menu li:last-child a {
    padding-bottom: 15px;
}
.sidebar .nav_link.open .sub-menu {
    max-height: 500px;
}
/** HOVER **/
.sidebar.close .nav_links .nav_link:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.sidebar .nav_links .nav_link:hover .icon-link{
    background-color: #1d1b31;
}
.sidebar .sub-menu a:hover {
    opacity: 1;
}