/** Title-Gallery **/
.gallery-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    padding: 1rem;
    border-radius: .5rem;
}
.gallery-title a {
    display: inline-block;
}
.container {
    display: flex;
    flex-direction: column;
}

/** Scroll Bar **/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #fff;
    padding: 7px;
}
::-webkit-scrollbar-thumb {
    background: #9ca2b0;
    border-radius: 4px;
}
.lightbox::-webkit-scrollbar-track {
    background: #000000;
}
.lightbox::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
}